<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <style>
    html,
    body {
      padding: 0;
      margin: 0;
      height: 100%;
    }

    #app,
    .container {
      height: 100%;
      background: #e5e9f2;
    }

    .header {
      border-bottom: 1px solid #ebebeb;
      background: #fff;
    }

    .header .header-title {
      color: #409eff;
      font-size: 20px;
      font-weight: 700;
      line-height: 60px;
    }

    .main {
      height: calc(100% - 60px);
    }

    .card {
      height: 100%;
    }

    .box-card {
      margin-bottom: 10px;
    }

    .record,
    .no-result {
      color: #d3dce6;
    }
  </style>
</head>

<body>
  <div id="app">
    <el-container class="container">
      <el-header class="header">
        <span class="header-title">价格比对系统</span>
      </el-header>
      <el-main class="main">
        <section class="card">
          <el-card class="box-card">
            <el-form :model="condForm" ref="condForm" label-width="100px" inline>
              <el-form-item :label="item.label" v-for="(item, index) in formItems" :key="`${item.model}-${index}`">
                <template v-if="item.type === 'input'">
                  <el-input v-model="condForm[item.model]" style="width: 200px;" size="small"></el-input>
                </template>
                <template v-if="item.type === 'select'">
                  <el-select v-model="condForm[item.model]" style="width: 200px;" size="small">
                    <el-option v-for="option in item.options" :key="option.value" :label="option.label"
                      :value="option.value">
                    </el-option>
                  </el-select>
                </template>
                <template v-if="item.type === 'input-number'">
                  <el-input-number v-model="condForm[item.model]" size="small" :min="item.min" style="width: 200px;">
                  </el-input-number>
                </template>
              </el-form-item>
              <el-form-item>
                <el-button type="primary" size="small" @click="onSubmit">比对</el-button>
                <el-button size="small" @click="onReset">重置</el-button>
              </el-form-item>
            </el-form>
          </el-card>
          <el-card class="box-card">
            <div v-for="(item, index) in results" :key="index" class="result-item">
              <p v-html="item.content" :class="{'record': index !== 0}"></p>
            </div>
            <p v-if="results.length === 0" class="no-result">暂无数据</p>
          </el-card>
        </section>
      </el-main>
    </el-container>
  </div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
  new Vue({
    el: '#app',
    data: function () {
      return {
        formItems: [
          {
            label: "名称",
            type: "input",
            model: "name",
            placeholder: "请输入"
          },
          {
            label: "型号",
            type: "select",
            model: "type",
            placeholder: "请选择",
            options: [
              {
                value: "250G",
                label: "250G"
              }
            ]
          },
          {
            label: "颜色",
            type: "select",
            model: "color",
            placeholder: "请选择",
            options: [
              {
                value: "紫色",
                label: "紫色"
              }
            ]
          },
          {
            label: "差价",
            type: "input-number",
            model: "diff",
            min: 0,
            placeholder: ""
          },
          {
            label: "标准价",
            type: "input-number",
            model: "normal",
            min: 0,
            placeholder: ""
          },
        ],
        condForm: {},
        results: []
      }
    },
    methods: {
      onSubmit: function () {
        console.log(this.condForm);
        if (!Object.values(this.condForm).every(m => !!m)) return;
        const { name, type, color, diff, normal } = this.condForm;
        const content = `${name} ${type} ${color} <span style="color: #409eff">差价：</span>￥${diff} <span style="color: #409eff">标准价：</span> ￥${normal} <span style="color: #409eff">售价：</span> ￥${normal + diff}`;

        if (this.results.find(m => m.content === content)) return;
        this.results.unshift({ content: content });
      },
      onReset: function () {
        this.condForm = {};
      }
    }
  })
</script>

</html>